blinker
certifi
cffi
charset-normalizer
click
cryptography
filelock
Flask
Flask-Admin
Flask-Cors
Flask-SQLAlchemy
greenlet
huggingface-hub
idna
itsdangerous
Jinja2
MarkupSafe
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
Pillow
psycopg2-binary
pycparser
PyJWT
PyYAML
regex
requests
six
SQLAlchemy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
WTForms
